body {
  background-color: #575656;
  font-family: "Fredoka", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.parent {
  width: 400px;
  height: 400px;
  background-color: #575656;
  padding: 25px 0;
  box-shadow: 0 0 10px #000d1a;
  border-radius: 10%;
}
.logo {
  width: 200px;
  height: 200px;
  background: url(img/msg90301484-1420788.jpg);
  background-position: 15;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  border: 4px solid rgb(243, 234, 234);
  animation: borderChange 3s infinite;
  border-radius: 50%;
}

.title {
  margin: 25px auto;
  font-size: 25px;
  width: 200px;
  color: #ffffff;
}
.dese {
  text-align: center;
  color: #ffffff;
  animation: colorChange 3s infinite;
}

.social {
  height: 60px;
  text-align: center;
  font-size: 33px;
  color: #b7b8b9;
}
.social i {
  margin: 10px;
}


@keyframes borderChange {
    0% { border-color: rgb(233, 68, 68); }
    50% { border-color: rgb(62, 62, 202); }
    100% { border-color: rgb(65, 211, 65); }
}